@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
    font-family: 'Outfit';
    src: url('./fonts/outfit.ttf');
}

:root {
    --color-primary-light: #FF5C8D;
    --color-primary: #db2769;
    --color-primary-dark: #A00037;
    --color-background: #121212;
    --color-surface: #1C1C1C;
    --color-text: #D3D3D3;
    --color-border: #4b4b4b;
    --color-error: #B00020;
}

@import 'loading';
@import 'modal';

html {
    font-family: 'Outfit', sans-serif;
    color: var(--color-text);
    min-height: 100vh;
}

.background {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: -100;
    background-color: var(--color-background);
}
