@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Alegreya+Sans&display=swap');

:root {
    --color-primary: #db2769;
    --color-primary-light: #FF5C8D;
    --color-primary-dark: #A00037;
    --color-primary-super-dark: #6A0020;
    --color-background: #121212;
    --color-text: #D3D3D3;
    --color-surface: #151515;
    --color-surface-light: #2c2c2c;
    --color-surface-dark: #121212;
    --color-error: #B00020;
}

@import 'loading';
@import 'modal';

html {
    font-family: 'Alegreya Sans', sans-serif;
    color: var(--color-text);
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather Sans', sans-serif;
}

.background {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: -100;
    background: linear-gradient(35deg, var(--color-surface-light), var(--color-surface-dark));
}

.bg-gradient {
    background: linear-gradient(120deg, var(--color-primary-light), var(--color-primary-dark));
}

.bg-gradient-dark {
    background: linear-gradient(120deg, var(--color-primary-dark), var(--color-primary-super-dark));
}

.notification::after {
    content: ' ';
    width: .5rem;
    height: .5rem;
    background: rgb(208, 60, 60);
    position: absolute;
    border-radius: 50%;

    transform: translateX(.5rem);
}

.aspect-video {
    aspect-ratio: 16 / 9;
}
