@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'modals';

.bg-gradient {
    background: linear-gradient(35deg, #2c92e5, #0059a2);
}

.notification::after {
    content: ' ';
    width: .5rem;
    height: .5rem;
    background: rgb(208, 60, 60);
    position: absolute;
    border-radius: 50%;

    transform: translateX(.5rem);
}
